* {
    font-family: 'Courier New', Courier, monospace;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color:#9b6b2d;
}

a:hover {
    color: #eebf6d;
}

body {
    display: flex;
    flex: 1;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

.main {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    color: #eebf6d;
    background-color: #3c786b;
}

.navbar {
    color: #9b6b2d;
    max-width: 200px;
    font-size: 24px;
    background-color: #1f4e4d;
    border-right: 2px solid #9b6b2d;
}

.navlist {
    list-style: none;
    padding-left: 0px;
}

.navlist li {
    padding: 30px;
}

.home-title, .author {
    text-align: center;
}

.home-title {
    margin-bottom: 0px;
}

.home-title.site-evol {
    margin-bottom: 15px;
}

.author {
    font-size: 17px;
    font-style: italic;
    margin-top: 2px;
}

.finProj {
    margin-left: 20px;
}

.divide-line {
    border: 1px solid #1f4e4d;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 30px;
}

.leftImgStatBox {
    display: flex;
    flex: 1, 1, 0;
    align-items: center;
    background-color: #1f4e4d;
}

.leftImgStatBox img {
    border: 1px solid black;
    max-width: 600px;
}

.siteEvol-imgContainer {
    display: flex;
    flex: 1, 1, 0;
    margin: 20px;
}

.siteEvol-descContainer {
    padding-right: 50px;
    padding-left: 40px;
}

.home-rightAlignContainer {
    text-align: right;
    margin-right: 30px;
}

.rightAlignContainer {
    display: flex;
    flex: 1;
    background-color: #1f4e4d;
    border: 10px solid #1f4e4d;
    border-radius: 20px;
    margin-bottom: 3px;
}

.rightAlignDesc {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin-right: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    text-align: right;
}

.rightAlignDesc h2 {
    margin-bottom: 0px;
    margin-top: 0px;
}

.rightAlignDesc .rightAlignDate {
    padding-right: 5px;
    margin: 0px;
}

.rightAlignImg {
    display: flex;
    flex: 1, 1, 0;
}

.rightAlignImg img {
    border: 1px solid black;
    max-width: 500px;
    margin: 20px;
}