/* ////////////////// APPLICABLE TO ALL ////////////////// */

* {
    font-family: 'Courier New', Courier, monospace;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color:#9b6b2d;
}

a:hover {
    color: #eebf6d;
}

body {
    display: flex;
    flex: 1;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

.main {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    color: #eebf6d;
    background-color: #3c786b;
}

.navbar {
    color: #9b6b2d;
    max-width: 200px;
    font-size: 24px;
    background-color: #1f4e4d;
    border-right: 2px solid #9b6b2d;
}

.navlist {
    list-style: none;
    padding-left: 0px;
}

.navlist li {
    padding: 30px;
}

.title-home, .title-sEvol, .author-home {
    text-align: center;
}

.divide-line {
    border: 1px solid #1f4e4d;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 30px;
}

/* //////////////////// HOME PAGE //////////////////// */

.title-home{
    margin-bottom: 0px;
}

.author-home {
    font-size: 17px;
    font-style: italic;
    margin-top: 2px;
}

.right-align-header-home {
    text-align: right;
    margin-right: 30px;
}

.right-align-box-home {
    display: flex;
    flex: 1;
    background-color: #1f4e4d;
    border: 10px solid #1f4e4d;
    border-radius: 20px;
    margin-bottom: 3px;
}

.right-align-desc-home {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin-right: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    text-align: right;
}

.right-align-desc-home h2 {
    margin-bottom: 0px;
    margin-top: 0px;
}

.right-align-desc-home .right-align-date-home {
    padding-right: 5px;
    margin: 0px;
}

.right-align-img-home {
    display: flex;
    flex: 1, 1, 0;
}

.right-align-img-home img {
    border: 2px solid #9b6b2d;
    max-width: 500px;
    margin: 20px;
}

.left-align-header-home {
    text-align: left;
    margin-left: 30px;
}

.left-align-box-home {
    display: flex;
    flex: 1;
    align-items: center;
    border: 3px solid #1f4e4d;
    border-radius: 20px;
    margin-bottom: 3px;
}

.left-align-img-home {
    display: flex;
    flex: 1, 1, 0;
}

.left-align-img-home img {
    border: 3px solid #eebf6d;
    max-height: 300px;
    margin: 20px;
}

.left-align-desc-home {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    text-align: left;
}

.left-align-desc-home h2 {
    margin-bottom: 0px;
    margin-top: 0px;
}

.left-align-desc-home .left-align-date-home {
    padding-left: 5px;
    margin: 0px;
}

/* //////////////////// SITE EVOLUTION //////////////////// */

.main-sEvol {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
    background-color: #e5e1ce;
}

.title-sEvol {
    margin-bottom: 15px;
}

.right-align-box-sEvol {
    display: flex;
    flex: 1, 1, 0;
    align-items: center;
    justify-content: end;
    border: 3px solid #1f4e4d;
    border-radius: 20px;
    margin-bottom:5px;
    margin-top: 5px;
}    

.right-align-box-sEvol img {
    flex: 1, 0, 0;
    border: 1px solid black;
    max-width: 600px;
}    

.right-align-desc-sEvol {
    flex: 1;
    padding-right: 0px;
    padding-left: 40px;
    text-align: right;
}

.right-img-box-sEvol {
    display: flex;
    flex: 1, 1, 0;
    margin: 20px;
}

.left-align-box-sEvol {
    display: flex;
    flex: 1, 1, 0;
    align-items: center;
    border: 3px solid #1f4e4d;
    border-radius: 20px;
}

.left-align-box-sEvol img {
    border: 1px solid black;
    max-width: 600px;
}

.left-img-box-sEvol {
    display: flex;
    flex: 1, 1, 0;
    margin: 20px;
}

.left-align-desc-sEvol {
    padding-right: 40px;
    padding-left: 40px;
}